[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/usr/share/applications/lumix-maptool.py
Name=lumix-maptool
Comment=Manage GPS information for Panasonic Lumix cameras.
Icon=/usr/share/maptool/lumix-maptool-icon.png
Categories=Utility;Camera
