[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/usr/share/applications/lumixmaptool.py
Name=lumixmaptool
Comment=Manage GPS information for Panasonic Lumix cameras.
Icon=/usr/share/maptool/lumixmaptool-icon.png
Categories=Utility;Camera
